@model IEnumerable<RundownEdu.Models.Segment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedReadTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualReadTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Story)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedReadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualReadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Story.StoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SegmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SegmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SegmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
