@model RundownEdu.Models.Rundown

@{
    ViewData["Title"] = "Delete";
}

<div class="row pb-3">
    <div class="col">
        <h3>Are you sure you want to delete the following rundown?</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)<Strong>:</Strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)<Strong>:</Strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)<Strong>:</Strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Show)<Strong>:</Strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Show.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)<Strong>:</Strong>
            </dt>
            <dd>
                <label class="switch">
                    @Html.DisplayFor(model => model.Active)
                    <span class="slider round"></span>
                </label>
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-outline-dark" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
