@model RundownOverviewViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row pb-3">
    <div class="col">
        <h3>Rundown Details: @Html.DisplayFor(model => model.Title)</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StartTime)<strong>:</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndTime)<strong>:</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndTime)
            </dd>
            <dt>
                Show<strong>:</strong>
            </dt>
            <dd>
                <i class="fas fa-circle" style="color: @Model.ShowColor;"></i>
                @Html.DisplayFor(model => model.ShowTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Active)<strong>:</strong>
            </dt>
            <dd>
                <label class="switch">
                    @Html.DisplayFor(model => model.Active)
                    <span class="slider round"></span>
                </label>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-outline-dark" asp-action="Index">Cancel</a>
    </div>
</div>
