@model IEnumerable<RundownEdu.Models.Rundown>

@{
    ViewData["Title"] = "Rundowns";
}


<div class="row">
    <div class="col">
        <p>
            <a class="btn btn-outline-primary" asp-action="Create"><i class="fas fa-plus"></i>&nbsp; New Rundown</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Show.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Show)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.RundownId" data-toggle="tooltip" title="Edit @item.Title"><i class="fas fa-pen"></i></a>
                                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.RundownId" data-toggle="tooltip" title="View @item.Title"><i class="fas fa-search"></i></a>
                            </div>
                        </td>
                        <td>
                            @*<td style="background-color: @item.Show.Color; color: @item.Show.FontColor;">*@
                            <i class="fas fa-circle" style="color: @item.Show.Color;"></i>
                            @Html.DisplayFor(modelItem => item.Show.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Show.Title)
                        </td>
                        <td>
                            @if (item.Active)
                            {
                                <i class="fas fa-check"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/redu-rundown.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/redu-rundown.min.js"></script>
    </environment>
}
