@model List<ShowViewModel>

@{
    ViewData["Title"] = "Rundowns";
}


<div class="row">
    <div class="col">
        <p>
            <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus"></i>&nbsp; Rundown</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        @foreach (var show in Model)
        {
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header border-top border-left border-right border-dark" style="background-color: @show.Color;">
                            <div class="row">
                                <div class="col">
                                    <h4>@show.Title</h4>
                                </div>
                                <div class="col-auto">
                                    <div class="btn-group">
                                        <a class="btn btn-light border border-dark" asp-controller="Show" asp-action="Details" asp-route-id="@show.Id" data-toggle="tooltip" title="View @show.Title"><i class="fas fa-search text-dark"></i></a>
                                        <a class="btn btn-light border border-dark" asp-controller="Show" asp-action="Edit" asp-route-id="@show.Id" data-toggle="tooltip" title="Edit @show.Title"><i class="fas fa-pen"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border-left border-right border-top border-dark p-0">
                            @foreach (var rundown in show.Rundowns)
                            {
                                <div class="col border-bottom border-dark">
                                    <div class="row">
                                        <div class="col-auto my-auto">
                                            <div class="btn-group">
                                                <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@rundown.Id" data-toggle="tooltip" title="View @rundown.Title"><i class="fas fa-search"></i></a>
                                                <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@rundown.Id" data-toggle="tooltip" title="Edit @rundown.Title"><i class="fas fa-pen"></i></a>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    Title: @rundown.Title
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    Start Time: @rundown.StartTime.ToString("dddd, MMMM dd, yyyy")
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    @rundown.StartTime.ToString("hh:mm tt") - @rundown.EndTime.ToString("hh:mm tt")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/redu-rundown.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/redu-rundown.min.js"></script>
    </environment>
}
